.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, p {
text-align: center;

}

img {
border-radius: 50%;
}

body {
  background-color: #fac32a;
}
