.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


}

.mbody {
margin-right: 10%;
margin-left: 10%;
}

#title {
font-size: 200%;
color: white;
}

#particles-js {
height: 100%;
width: 100%;
position: fixed;
    z-index: -1;
    top: 0;
    left: 0
}


h1, p {
text-align: center;
margin: 10px;


}
h1 {
font-weight: 700;
margin-top: 100px;
margin-bottom: 50px;

}



img {
float: left;


}


body {
  background-color: #fac32a;
}

	

ul {
  list-style-type: none;
  margin: 0;;
  padding: 0;
  overflow: hidden;
  background-color: #3f1d0b;
display: flex;
justify-content: space-between;
}



html {
  scroll-behavior: smooth;
}

li {


border-right: 0px solid #bbb;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;

  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}

#skills {
background-color: white;
margin-top: 200px;
}

h2 {
text-align: center;
padding: 14px;

}
