---
---

@import "{{ site.theme }}";

#profilepic {
border: 5px dashed black;

  max-width: 65%;
  height: auto;
}

/*.wrapper {
position: fixed;
}*/

html {
  scroll-behavior: smooth;
}

#emailButton {
float: left;
  padding-right: 2%;
  
}

li {
  display: block;
  width: auto;
  padding-top: 2%;
   padding-bottom: 2%;
  background-color: MediumSeaGreen; 
}

ul {
list-style-type: none;
}
