---
---

@import "{{ site.theme }}";

#profilepic {
border: 5px dashed black;

  max-width: 65%;
  height: auto;
}

/*.wrapper {
position: fixed;
}*/

html {
  scroll-behavior: smooth;
}

#githubLogo {
  width: 10%;
  height: 10%;
  float: left;
    
}
