---
---

@import "{{ site.theme }}";

#profilepic {
border: 5px dashed black;

  max-width: 65%;
  height: auto;
}

/*.wrapper {
position: fixed;
}*/

html {
  scroll-behavior: smooth;
}

#emailButton {
float: left;
  padding-right: 10%;
  
}

li a {
  display: block;
  width: 60px;
}

ul {
list-style-type: none;
}
